n8n_workflows/check_availability (1).json
{
  "name": "check_availability",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ],
      "id": "21696642-399c-428a-8392-73e0404c912b",
      "name": "When Called by AI"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT start_time, end_time \nFROM appointments \nWHERE doctor_id = '{{ $json.doctor_id }}' \n  AND start_time::date = COALESCE(\n    NULLIF('{{ $json.start_date_time }}', 'MISSING_TIME'), \n    CURRENT_DATE::text\n  )::date\n  AND status != 'cancelled' \nORDER BY start_time ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        80
      ],
      "id": "ba59cc90-a999-4bda-9dfe-21ebfcff1d61",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "8oH3Jkbbsel8stf6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capture the raw input from the AI Tool call\nconst input = $input.first().json;\n\n// 2. Parse the string if it arrives as 'query' or 'arguments' string\nlet data;\ntry {\n  // AI Agents often wrap tool arguments in a string called \"query\" or \"arguments\"\n  const rawString = input.query || input.arguments || JSON.stringify(input);\n  data = typeof rawString === 'string' ? JSON.parse(rawString) : rawString;\n} catch (e) {\n  // Fallback if the data is already parsed or in a different format\n  data = input;\n}\n\n// 3. Extract exactly two variables\nreturn {\n  doctor_id: data.doctor_id || \"MISSING_ID\",\n  start_date_time: data.start_date_time || \"MISSING_TIME\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        80
      ],
      "id": "aaee7a7e-0e72-4757-9238-98c589ab8a4d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1aaf7037-f53f-4fda-ba27-a7e844c20623",
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        112
      ],
      "id": "9fb1e924-b3f0-48d4-888b-00f4cd3ce405",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return {\n  result: `Good news! All slots are available for this day.`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        256
      ],
      "id": "4afbe551-c09c-4ed9-8aec-ce246b00e281",
      "name": "Format Success Msg"
    },
    {
      "parameters": {
        "jsCode": "// 1. Define your full working day slots\nconst allSlots = [\"09:00\", \"10:00\", \"11:00\", \"12:00\", \"14:00\", \"15:00\", \"16:00\", \"17:00\", \"18:00\"];\n\n// 2. Get the booked times from the Postgres results\n// We extract just the \"HH:mm\" part from the ISO string\nconst bookedTimes = $input.all().map(item => {\n  const date = new Date(item.json.start_time);\n  return date.getUTCHours().toString().padStart(2, '0') + \":\" + \n         date.getUTCMinutes().toString().padStart(2, '0');\n});\n\n// 3. Filter the full list to find what's actually free\nconst freeSlots = allSlots.filter(slot => !bookedTimes.includes(slot));\n\nreturn { status: \"partially_booked\", free_slots: freeSlots, booked_slots: bookedTimes };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        96
      ],
      "id": "39444ff1-b621-45cd-af32-e8dfff62a82c",
      "name": "Format Success Msg1"
    }
  ],
  "pinData": {
    "When Called by AI": [
      {
        "json": {
          "query": "{\"doctor_id\":\"3164572e-6060-486f-9fb9-f449492c0695\",\"date\":\"2024-06-24\"}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Called by AI": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format Success Msg1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5a946ff6-2d89-4157-a0b2-e088c891c77a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3cadb436088770433e3770927a2ced14a7e5c174d43411f4617dd3fbcdf1b47"
  },
  "id": "z0jhssQRAjRb3J_NTO5fF",
  "tags": []
}