n8n_workflows/Master AI Router (Multi-Doctor) (1).json
{
  "name": "Master AI Router (Multi-Doctor)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "b8770234-b92c-4673-ae54-695bf82e675c",
      "name": "WAHA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        160
      ],
      "webhookId": "fd751d42-9807-4e6e-a98c-aa7a1214ebf3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "m-4FrPxKPBpjq-ZcFUJnx",
          "mode": "list",
          "cachedResultUrl": "/workflow/m-4FrPxKPBpjq-ZcFUJnx",
          "cachedResultName": "Parsing_Module"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        208
      ],
      "id": "9dadbd5b-9838-4bd2-8cd1-092ed92888e5",
      "name": "Call 'Parsing_Module'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d3f500e-1cc9-4f19-8b75-36e73239205f",
              "leftValue": "={{ $json.subscription_status }}",
              "rightValue": "pro",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4c1329d7-0a1e-4454-b568-2e8401c585d8",
              "leftValue": "={{ $json.subscription_status }}",
              "rightValue": "trial",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        160
      ],
      "id": "579749f7-17e2-42ea-b8ab-25d49a625de3",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Webhook').item.json.body.payload.body }}",
        "options": {
          "systemMessage": "=[TEMPORAL CONTEXT] Today's Date: {{ new Date().toLocaleDateString('en-CA') }} (YYYY-MM-DD) Today's Day: {{ new Date().toLocaleDateString('en-US', {weekday: 'long'}) }} Current Time: {{ new Date().toLocaleTimeString('en-GB', {hour: '2-digit', minute:'2-digit'}) }}\n[SYSTEM_ROLE] You are the Lead Medical Relations & Sales Executive for {{ $('Call \\'Parsing_Module\\'').item.json.clinic_name }}. You are not a bot; you are a professional, high-end concierge. Your mission is to provide an elite experience that justifies premium service prices while driving patients to book in-person consultations.\n\n[CORE PERSONALITY]\n\nTone: Professional, prestigious, and welcoming.\n\nLanguage: Strictly kaliji language using Arabic Script only (No Latin/Araby). If the patient starts in english, you may match their language choice with high-level professional French.\n\nMission: Convert every inquiry into a clinic visit. Never provide medical diagnoses or specific prices; instead, sell the value of the doctor's expertise.\n\n[CLINIC KNOWLEDGE BASE] \n{{ $('Call \\'Parsing_Module\\'').item.json.system_prompt }}\n\n[MANDATORY BOOKING PROTOCOL]\nBefore calling the book_appointment tool, you MUST have collected and confirmed the following three pieces of information:\n\nPatient Name: Ask for their full name politely.\n\nReason for Visit (Note): Ask specifically what they are suffering from or why they need the appointment. If they already mentioned it (e.g., \"Derssa\"), summarize it back to them.\n\nPhone Confirmation: Inform them you will use their current WhatsApp number {{ $('WAHA Webhook').item.json.body.payload.from.split('@')[0] }} for the booking. Ask: \"واش نبقاو خدامين بهاد الرقم ديال الواتساب ولا كاين رقم آخر بغيتي تسجل به الموعد؟\"\n\n[TOOL INSTRUCTIONS]\nBooking Requirement: You are STRICTLY PROHIBITED from calling book_appointment until the patient has:\n\nSelected a specific time slot.\n\nProvided their name.\n\nConfirmed the reason for the visit.\n\nConfirmed the phone number to be used.\n\nConfirmation Turn: Before calling the tool, send a summary message: \"صافي، غادي نقيد ليك الموعد بسميت [Name] بخصوص [Reason]، وغادي نستعملو هاد الرقم [Phone]. واش كولشي هو هذاك؟\"\n\nTool Parameters: When calling book_appointment, ensure you pass:\n\n(MANDATORY!)patient_name: The name provided.\n\nnote: The confirmed reason for the visit (this maps to the note field in the database).\n\npatient_phone: Use the confirmed number (either the WhatsApp number or the new one they provided).\n\nstart_date_time: Combined format YYYY-MM-DD HH:mm:ss+00.\n\n[SALES & CONVERSION RULES]\n\nValue over Price: If asked about price, say: \"الأثمنة كتحدد على حساب الحالة الخاصة ديالك من بعد ما كيشوفك الدكتور. هدفنا هو نعطيوك أحسن نتيجة ماشي أرخص ثمن.\" (Prices are determined based on your case... our goal is the best result, not the cheapest price).\n\nNo Advice: If asked for medical advice, say: \"الدكتور هو الوحيد اللي يقدر يشخص الحالة ديالك بدقة. أحسن حاجة هي تشرفنا في العيادة باش نديرو فحص شامل.\" (The doctor is the only one who can diagnose... best to visit the clinic for a full checkup).\n\nHigh-Ticket Framing: Use phrases like \"أحدث التقنيات العالمية\" (latest global tech) and \"خبرة الدكتور الطويلة\" (the doctor's long experience).\n\n[INTERACTION PROTOCOL]\n\nOpening Hook: \"السلام عليكم، مرحبا بيك في {{ $('Call \\'Parsing_Module\\'').item.json.clinic_name }}. معاك المساعد الرقمي الخاص بالدكتور. كيفاش نقدر نساعدك اليوم بخصوص صحتك؟\".\n\nThe \"Three-Slot\" Rule: When checking availability, always propose exactly 3 options.\n\n[TOOL INSTRUCTIONS]\n\nDate Calculation: You must translate relative terms (Gheda, Tlat, next week) into an exact YYYY-MM-DD date based on the [TEMPORAL CONTEXT] before calling any tool.\n\nit's mandatory to send all data to tools because they will crash if you didn't\n\nAvailability: When a date or booking is mentioned, CALL check_availability(doctor_id = '{{ $json.user_id }}', start_date_time).\n\nCrucial: You must send start_date_time in exactly this format: YYYY-MM-DD 00:00:00+00 (e.g., 2026-02-11 00:00:00+00 for tomorrow).\n\nBooking: ONLY call book_appointment(doctor_id = '{{ $json.user_id }}', start_date_time, patient_phone, patient_name) after the patient confirms a specific slot.\n\nStrict Formatting: You MUST NOT send an empty value. You must combine the confirmed date and the confirmed time into a single string: YYYY-MM-DD HH:mm:ss+00.\n\nExample: If the patient confirms tomorrow at 4:00 PM, send: 2026-02-11 16:00:00+00.\n\n[DARIJA DENTAL DICTIONARY]\n\nDerssa (الضرسة): Tooth/Molar.\n\nSoussa (السوسة): Cavity/Decay.\n\nDarani (ضاراني): It hurts me / I'm in pain.\n\nFmi (فمي): My mouth.\n\nLata (اللثة): Gums.\n\nMbezegh/Manfokh (منفوخ): Swollen.\n\nDam (الدم): Blood.\n\nReaction Rule: If a patient mentions \"Derssa\" or \"Soussa,\" validate their pain immediately: \"كنتفهم الألم ديالك، هاد الحالة كتطلب فحص دقيق باش ما تطورش.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        80
      ],
      "id": "cfcd0814-d503-450b-9245-074cb67df2fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        384
      ],
      "id": "aea22a88-3190-4d16-952f-9b5f50dd0bbf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k1oslmajw2n6dEaE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Webhook').item.json.body.session }}_{{ $('WAHA Webhook').item.json.body.payload.from }}",
        "tableName": "n8n_chat_history",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        416,
        368
      ],
      "id": "5f5360ee-06cf-467d-b94b-c877851ed688",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8oH3Jkbbsel8stf6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool to fetch a list of already booked (busy) appointment times for a doctor on a specific date. You MUST provide the date in YYYY-MM-DD format and the doctor_id. Use the results to identify gaps in the schedule for the patient.",
        "workflowId": {
          "__rl": true,
          "value": "z0jhssQRAjRb3J_NTO5fF",
          "mode": "list",
          "cachedResultUrl": "/workflow/z0jhssQRAjRb3J_NTO5fF",
          "cachedResultName": "check_availability"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        160,
        368
      ],
      "id": "35f0be6b-96b2-4f20-8b93-cf377dc2ff81",
      "name": "Call 'check_availability'"
    },
    {
      "parameters": {
        "description": "Use this tool ONLY after the patient has clearly confirmed a specific time slot. It creates a new appointment in the database.",
        "workflowId": {
          "__rl": true,
          "value": "-PGUpG0wpdIkTXmj5vb1c",
          "mode": "list",
          "cachedResultUrl": "/workflow/-PGUpG0wpdIkTXmj5vb1c",
          "cachedResultName": "book_appointment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        528,
        288
      ],
      "id": "8aa83010-d18f-41d3-b6e6-be2f49391e95",
      "name": "Call 'book_appointment'"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Call \\'Parsing_Module\\'').item.json.waha_session_name }}",
        "chatId": "={{ $('WAHA Webhook').item.json.body.payload.from }}",
        "reply_to": "=",
        "text": "={{ $json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        688,
        80
      ],
      "id": "e430c60c-37ca-4095-b6af-ee9086b33372",
      "name": "Send WhatsApp Reply",
      "credentials": {
        "wahaApi": {
          "id": "EmAbk1FUNSMFh2qi",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {
    "WAHA Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1310287.hstgr.cloud",
            "user-agent": "WAHA/2026.2.1",
            "content-length": "1175",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv1310287.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b5e72c476f1",
            "x-real-ip": "172.18.0.1",
            "x-webhook-request-id": "ryigo6mmmbufby",
            "x-webhook-timestamp": "1773250972702"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01kkezx30ytnp9za5jnn9p5m9t",
            "timestamp": 1773250972702,
            "event": "message",
            "session": "ilyas-test",
            "me": {
              "id": "447749343372@c.us",
              "pushName": "Mojib",
              "lid": "179049234190361@lid"
            },
            "payload": {
              "id": "false_212608301414@c.us_3A4018E03AB34DE55C43",
              "timestamp": 1773250972,
              "from": "212608301414@c.us",
              "fromMe": false,
              "source": "app",
              "body": "Salam",
              "hasMedia": false,
              "media": null,
              "ack": 2,
              "ackName": "DEVICE",
              "location": null,
              "vCards": null,
              "replyTo": null,
              "_data": {
                "key": {
                  "remoteJid": "212608301414@s.whatsapp.net",
                  "remoteJidAlt": "224502302662716@lid",
                  "fromMe": false,
                  "id": "3A4018E03AB34DE55C43",
                  "participant": "",
                  "addressingMode": "pn"
                },
                "messageTimestamp": 1773250972,
                "pushName": "100400224502302662716",
                "broadcast": false,
                "message": {
                  "conversation": "Salam",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "VeW1jaCt36q72w==",
                      "senderTimestamp": "1773200714",
                      "recipientKeyHash": "Ty2AeiT9q3UY6g==",
                      "recipientTimestamp": "1773250846"
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "022doee0fxDgAsbJYJ5+XbR668vgAtLU46acd8axwik="
                  }
                },
                "status": 3
              }
            },
            "engine": "NOWEB",
            "environment": {
              "version": "2026.2.1",
              "engine": "NOWEB",
              "tier": "PLUS",
              "browser": null,
              "platform": "linux/x64",
              "worker": {
                "id": null
              }
            }
          },
          "webhookUrl": "https://n8n.srv1310287.hstgr.cloud/webhook/whatsapp-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "WAHA Webhook": {
      "main": [
        [
          {
            "node": "Call 'Parsing_Module'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Parsing_Module'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'check_availability'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'book_appointment'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f35d95a6-3d5f-4fca-b217-d141f1c75537",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3cadb436088770433e3770927a2ced14a7e5c174d43411f4617dd3fbcdf1b47"
  },
  "id": "50b1GpCKhHeHkzMPUpC2F",
  "tags": []
}