n8n_workflows/Parsing_Module (1).json
{
  "name": "Parsing_Module",
  "nodes": [
    {
      "parameters": {},
      "id": "238887ac-3a90-40f1-819e-931dcf5f6bbb",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subscription_status }}",
              "operation": "regex",
              "value2": "active|trial"
            }
          ]
        }
      },
      "id": "49bb36d3-9d32-414c-a979-dda992c102d5",
      "name": "Check Subscription",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        16,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "40abe06d-1f8d-4097-be83-b4279d5de272",
      "name": "Return Context",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"subscription_expired\" }",
        "options": {}
      },
      "id": "2ac52484-d9af-48ad-b56e-ac1ac5d9976a",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw ID\nlet rawId = $input.first().json.body.me.id; \n\n// 2. Remove the suffix\nlet cleanId = rawId.split('@')[0];\n\n// 3. REGEX FIX: Remove everything that is NOT a number (removes spaces, quotes, etc.)\nlet finalPhone = cleanId.replace(/\\D/g, \"\");\n\nreturn {\n  json: {\n    phone: finalPhone\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        144
      ],
      "id": "67a99ab0-b3bc-44f6-90de-040a07036673",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.id AS user_id,\n  p.clinic_name,\n  p.subscription_status,\n  p.waha_session_name,\n  b.system_prompt\nFROM \n  profiles p\nJOIN \n  bot_configs b ON p.id = b.user_id\nWHERE \np.phone = '{{ $json.phone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        144
      ],
      "id": "55a30fc1-6323-47f6-ab03-e5609227fd55",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "8oH3Jkbbsel8stf6",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1310287.hstgr.cloud",
            "user-agent": "WAHA/2026.2.1",
            "content-length": "1162",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv1310287.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b5e72c476f1",
            "x-real-ip": "172.18.0.1",
            "x-webhook-request-id": "ryigo6mmeakh48",
            "x-webhook-timestamp": "1772765099432"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01kk0ghdd8p93bpj962yk1w710",
            "timestamp": 1772765099432,
            "event": "message",
            "session": "bella",
            "me": {
              "id": "212656070914@c.us",
              "pushName": "MXCALL",
              "lid": "140604428312657@lid"
            },
            "payload": {
              "id": "false_212608301414@c.us_3A724AC7D9CBC68EC296",
              "timestamp": 1772765099,
              "from": "212608301414@c.us",
              "fromMe": false,
              "source": "app",
              "body": "Salam",
              "hasMedia": false,
              "media": null,
              "ack": 2,
              "ackName": "DEVICE",
              "location": null,
              "vCards": null,
              "replyTo": null,
              "_data": {
                "key": {
                  "remoteJid": "212608301414@s.whatsapp.net",
                  "remoteJidAlt": "224502302662716@lid",
                  "fromMe": false,
                  "id": "3A724AC7D9CBC68EC296",
                  "participant": "",
                  "addressingMode": "pn"
                },
                "messageTimestamp": 1772765099,
                "pushName": "212608301414",
                "broadcast": false,
                "message": {
                  "conversation": "Salam",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "VeW1jaCt36q72w==",
                      "senderTimestamp": "1772764990",
                      "recipientKeyHash": "WQrn0ItonRx52w==",
                      "recipientTimestamp": "1772117600"
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "cGsnmn4lgftjemuv+eDyNAaZqdVfwv8ol7srxb5ycFE="
                  }
                },
                "status": 3
              }
            },
            "engine": "NOWEB",
            "environment": {
              "version": "2026.2.1",
              "engine": "NOWEB",
              "tier": "PLUS",
              "browser": null,
              "platform": "linux/x64",
              "worker": {
                "id": null
              }
            }
          },
          "webhookUrl": "https://n8n.srv1310287.hstgr.cloud/webhook/whatsapp-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Subscription": {
      "main": [
        [
          {
            "node": "Return Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Check Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cace4426-17ba-44d3-a9c4-920c715d1f55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3cadb436088770433e3770927a2ced14a7e5c174d43411f4617dd3fbcdf1b47"
  },
  "id": "m-4FrPxKPBpjq-ZcFUJnx",
  "tags": []
}